# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE settings
.vscode/
.idea/

# YOLO weights and large model files
*.pt
*.weights
*.h5

# Local environment variables
.env
.env.local
.env.*.local


# Manual documentation
manual.md



# Generated thumbnails (uncomment if you want to ignore them)
# **/thumbs/
